{% extends 'base.html' %}

{% load static %}
{% block pageName %} Utilisateurs {% endblock pageName %}

{% block breadcrumb %}
<div class="container-fluid">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb my-0 ms-2">
      <li class="breadcrumb-item">
        <!-- if breadcrumb is single--><span>Dashboard</span>
      </li>
      <li class="breadcrumb-item active"><span>Utilisateurs</span></li>
    </ol>
  </nav>
  
</div>
{% endblock breadcrumb %}

{% block pagecontent %}
<div class="body flex-grow-1 px-3" id="page-content">

      <br>
  <div class="container-lg">

    <!-- onclick="document.getElementById('createDoctorForm').submit();" /.row-->
    <div class="row">
      <div class="col-md-12">
        <div class="card mb-4">
          <div class="card-header">Liste des utilisateurs
            <button class="btn btn-primary" type="button" data-coreui-toggle="modal" 
          data-coreui-target="#createDoctorModal" style="float: right;">
            Ajouter un utilisateur</button>
          </div>
          <div class="card-body">
            <div class="table-responsive bg-white">
              <table class="table border mb-0">
                <thead class=" fw-semibold">
                  <tr class="align-middle">
                    <th class="text-center">
                      <svg class="icon">
                        <use xlink:href="{% static 'vendors/@coreui/icons/svg/free.svg' %}#cil-people"></use>
                      </svg>
                    </th>
                    <th>Nom</th>
                    <th class="text-center">Spécialité</th>
                    <th>Date d'ajout</th>
                    <th>Actions</th>
                  </tr>
                </thead>
                <tbody>
                  {% for doctor in doctors %}
                  <tr class="align-middle">
                    <td class="text-center">
                      <div class="avatar avatar-md"><img class="avatar-img" src="{% static 'assets/img/avatars/.jpg' %}" alt=""><span class="avatar-status bg-success"></span></div>
                    </td>
                    <td>
                      <div> {{ doctor.name }} </div>
                      
                    </td>
                    <td class="text-center">
                      <div>Spécialité</div>
                    </td>
                    <td>
                      <div class="small text-medium-emphasis"></div>
                      <div class="fw-semibold">{{ doctor.created_at }}</div>
                    </td>
                    <td>
                      <div class="dropdown">
                        <button class="btn btn-transparent p-0" type="button" data-coreui-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          <svg class="icon">
                            <use xlink:href="{% static 'vendors/@coreui/icons/svg/free.svg' %}#cil-options"></use>
                          </svg>
                        </button>
                        <div class="dropdown-menu dropdown-menu-end"><a class="dropdown-item" href="#">Info</a><a class="dropdown-item" href="#">Edit</a>
                          <button class="dropdown-item text-danger deleteDoctorBtn"
                            data-id="{{doctor.id}}" 
                            data-coreui-toggle="modal" 
                            data-coreui-target="#deleteDoctorModal"
                            >Delete</button></div>
                      </div>
                    </td>
                  </tr>
                  {% endfor %}
                  
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
   
  </div>
  <div class="modal fade" id="createDoctorModal" tabindex="-1" aria-labelledby="createDoctorModalTitle" aria-hidden="true" style="display: none;">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="createDoctorModalTitle">Modal title</h5>
          <button class="btn-close" type="button" data-coreui-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form method="post" action="{% url 'manager.customers' %}" id="createDoctorForm" enctype="multipart/form-data">
            {% csrf_token %}  
            <div class="mb-3 row">
                <div class="col-12">
                    <label for="fullnameInput" class="form-label">Nom</label>
                    <input type="text" name="name" class="form-control" id="fullnameInput" placeholder="Enter your name" required>
                </div>
            </div>
            <div class="modal-footer">
              <button class="btn btn-secondary" type="button" data-coreui-dismiss="modal">Close</button>
              <button class="btn btn-primary" type="submit" id="createDoctorBtnSubmit" 
              
              >Enrégistrer</button>
            </div>
          </form>

        </div>

      </div>
    </div>
  </div>

  <div id="deleteDoctorModal" class="modal" tabindex="-1" aria-labelledby="deleteDoctorModalLabel" aria-hidden="true" style="display: none;">
      <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
              <div class="modal-header">
                  <h5 class="modal-title" id="deleteDoctorModalLabel">Confirmation de suppression</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"> </button>
              </div>
              <div class="modal-body text-center p-5">
                  <form method="post" id="deleteDoctorForm" enctype="multipart/form-data">
                      {% csrf_token %}  
                      <div class="mb-3 row">
                          <center>
                              <lord-icon src="https://cdn.lordicon.com/wdqztrtx.json" trigger="loop" colors="primary:#121331,secondary:#08a88a" style="width:120px;height:120px"></lord-icon>
                          </center>

                          <div class="mt-4">
                              <h3 class="mb-3">Attention!</h3>
                              <input type="number" name="doctor_id" hidden id="deleteDoctorId">
                              <p class="text-muted mb-4"> Voulez-vous vraiment supprimer cet employé ?</p>
                          </div>
                          
                      </div>
                  </form>
              </div>
              <div class="modal-footer">
                  <button type="button" class="btn btn-danger " id="deleteDoctorBtnSubmit"
                  
                  >Oui, je confirme</button>
                  <button type="button" class="btn btn-light" data-bs-dismiss="modal">Ne pas supprimer</button>
                  
              </div>

          </div><!-- onclick="document.getElementById('deleteDoctorForm').submit();" /.modal-content -->
      </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->
</div>




{% endblock pagecontent %}


{% block scripts %}
<script type="text/javascript">

  $(document).ready(function() {

      $('#createDoctorForm').submit(function(e) {
        //alert('JGK');
        e.preventDefault();
          $('#createDoctorModal').modal('toggle');
          var formData = $('#createDoctorForm').serialize();
          url = "{% url 'manager.customers' %}";
          $.ajax({
              url: url,
              method: 'post',
              data: formData,
              beforeSend: function() {
                  //$('#spinner').show();
                  //$('#page-lock').show();
              },
          }).done(function(response) {
            //alert('dfd');
              // Process the response from the server
              //console.log(response);
              //$('#spinner').hide();
              //$('#page-content').html("response");
              $('#page-content').html(response);
              //$('#page-lock').hide();
              //updateParentId();
          });
      });

      $('.deleteDoctorBtn').click(function() {
          var val = $(this).attr('data-id');
          //alert(val);
          $('#deleteDoctorId').attr("value", val);
          console.log($('#deleteDoctorId').val());
      });
      $('#deleteDoctorBtnSubmit').click(function() {
          $('#deleteDoctorModal').modal('toggle');
          var formData = $('#deleteDoctorForm').serialize();
          url = "{% url 'manager.customers' %}";
          $.ajax({
              url: url,
              method: 'post',
              data: formData,
              beforeSend: function() {
                  //$('#spinner').show();
                  //$('#page-lock').show();
              },
          }).done(function(response) {
              // Process the response from the server
              console.log(response);
              //$('#spinner').hide();
              
              $('#page-content').html(response);
              //$('#page-lock').hide();
              //updateParentId();
          });
      });

          

  }); 
</script>   
{% endblock scripts %}
  